{:headers ["Before" "After"]
 :tags {:ub "Undefined behavior"
        :non-idiomatic "Non-idiomatic"}
 :examples [{:bad {:file "example/bad-non-member-ref.cpp"
                   :tag :ub}
             :good {:file "example/good-non-member-ref.cpp"}}]}
