{:examples [{:left {:code "example/bad-non-member-ref.cpp"
                    :tags [:undefined-behavior]}
             :right {:text "example/good-non-member-ref.cpp"
                     :code "example/good-non-member-ref.cpp"}}
            {:left {:code "example/bad-non-member-ref.cpp"
                    :tags [:undefined-behavior]}
             :right {:code "example/good-non-member-ref.cpp"
                     :tags [:valid :idiomatic]}}]}
